extends layout

block nav
    +nav_bar('help')
    
block content     
    .col-md-2.hidden-xs.hidden-sm.locked-left
        .affix
            each node in categories
                h4.fake-link(onClick="javascript:navigate('"+node.id+"')")= node.name
            
    .col-md-10    
        each node in categories
            div(id=node.id)  
                h3= node.name
                if(node.description)
                    p=node.description
                each cmds, key in node.commands
                    table
                        col.hidden-xs.hidden-sm(style="width:120px")
                        col(style="width:100px")
                        col.hidden-xs.hidden-sm(style="width:0")
                        col(style="width:120px")
                        col(style="width:120px")
                        col(style="width:55px")
                        tr
                            th.hidden-xs.hidden-sm='Command'
                            th='Flag'
                            th.hidden-xs.hidden-sm='Parameters'
                            th='Cooldown'
                            th='Cost'
                            th.cr='Rank'
                        each line in cmds
                            ///The formal command declaration
                            tr.declaration-row.monospace
                                td.hidden-xs.hidden-sm=key
                                td 
                                    i= line.flag
                                td.hidden-xs.hidden-sm=  line.parameters
                                td 
                                    if(line.cooldown) 
                                        i= line.cooldown
                                td 
                                    if(line.cost)
                                        strong= line.cost
                                td
                                    if(line.rank)
                                        =line.rank
                                    else
                                        ='Any'
                            ///Literal explanation
                            tr.description-row
                                td(colspan='5', style="padding:5px 0")
                                    != markdown(line.description)
                            ///Example
                            tr.example-row
                                td(colspan='5')
                                    span.example-text='Example: '
                                    span.monospace= line.example
                    br
                        
                
    script(type='text/javascript' src='/js/journey_faq.js')