- var URL = "/tjp"

//--------------------------------------------------------
//---   Header themes
//--------------------------------------------------------
mixin bootswatch(theme)
    link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/" + theme + "/bootstrap.min.css", rel="stylesheet")

mixin bootstrap()    
    // jQuery
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    
    //- Compiled and minified CSS
    //- link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')

    // Compiled and minified JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
//--------------------------------------------------------
//---    Navbar mixins
//--------------------------------------------------------
mixin nav_bar(tab)
    +nav("Journey Project", "dropdown_menu")
        +nav_item( "", tab === 'home' ) Home
        +nav_item( "/submit", tab === 'submit') Submit
        +nav_item_dropdown( "", tab === 'help')( label="FAQ")
            +nav_item("/faq") FAQ
            +nav_item("/faq/commands") Commands
        

mixin nav(name, id, style)
    - var style = (typeof style === 'undefined') ? "default" : style
    nav( role="navigation", class=["navbar-fixed-top", "navbar-" + style] )
        .container
            .navbar-header
                button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#" + id, aria-expanded="false", aria-controls="navbar")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href=URL)=name
     
            .collapse.navbar-collapse( id=id )
                ul.nav.navbar-nav
                    block
 
mixin nav_item(href, active)
    li(class = active ? "active" : ""): a( href=URL + href )
        block
 
mixin nav_item_dropdown(href, active)
    li(class=["dropdown", active ? "active" : ""])
        a.dropdown-toggle( href=URL + href, data-toggle="dropdown", role="button", aria-expanded="false" )= attributes.label
            span.caret
        ul.dropdown-menu( role="menu" )
            block
 
mixin nav_divider
    li.divider
 
mixin nav_header
    li.dropdown-header
        block
 
//--------------------------------------------------------
//---    Button mixins
//--------------------------------------------------------
mixin confirm-button(prio, id, onConfirmation)
    button.btn(class=prio, id=id, type='button', data-toggle="confirmation", js-confirm-action=onConfirmation) Delete Submission
    script.
       $("##{id}").on('confirmed.bs.confirmation', e => #{onConfirmation});

//--------------------------------------------------------
//---   Alert mixins
//--------------------------------------------------------
mixin alert(id, style, message, strong)
    .alert(id=id, class="alert-"+style, style="display:none;")
        button.close(href='#', type='button') ×
        strong #{strong}
        | #{message}

//--------------------------------------------------------
//---   Panel mixins
//--------------------------------------------------------
mixin panel(heading, style)
    - var style = (typeof style === 'undefined') ? "default" : style
    div( class=["panel", "panel-" + style] )
        .panel-heading= heading
        .panel-body
            block
            
//--------------------------------------------------------
//---   Form mixins
//--------------------------------------------------------
mixin text-area (label, id, value, placeholder, rows)
    label.bmd-label-floating(for=id) #{label}
    textarea.form-control(id=id, rows=rows, placeholder=placeholder)
        |#{value}

mixin text-field(label, id, value, placeholder)
    label.bmd-label-floating(for=id) #{label}
    input.form-control(id=id, type='text', value=value, placeholder=placeholder)

mixin text-field-required(label, id, value, placeholder)
    label.bmd-label-floating(for=id) #{label}
    input.form-control(id=id, type='text', value=value, placeholder=placeholder, required)